/* msg */
.msg {
	text-align: left;
	margin-top: 50px;
	margin-bottom: 50px;
}

/* empresas */

.empresas div {
	background-color: rgb(92, 91, 91);
	border-radius: 10px;
	padding: 15px;
	text-align: left;
}

.empresas div .nome {
	display: flex;
	flex-direction: row;
	padding: 0;
}

.empresas div span {
	background: 
	linear-gradient(43deg, 
		rgba(182,95,173,1) 0%, 
		rgba(182,95,135,1) 14%, 
		rgba(191,66,89,1) 36%, 
		rgba(158,11,26,1) 71%, 
		rgba(226,130,12,1) 96%);
	padding: 5px 20px;
	border-radius: 50%;
	font-size: 40px;
	margin-right: 30px;
	width: 30px;
    height: 60px;
	text-align: center;
}

@keyframes moveGradient {
	50% {
	  background-position: 100% 50%;
	}
  }

.empresas div button:first-child {
	height: 65px;
	border-radius: 8px;
	outline: none!important;
	background: none;
	border: 1px solid rgba(226,130,12,1);
	cursor: pointer;
	color: #f4f4f4;
	transition: all 0.4s;
}

.empresas div button {
	margin-top: 15px;
	height: 65px;
	border-radius: 8px;
	outline: none!important;
	background: linear-gradient(43deg, 
		rgba(182,95,173,1) 0%, 
		rgba(182,95,135,1) 14%, 
		rgba(191,66,89,1) 36%, 
		rgba(158,11,26,1) 71%, 
		rgba(226,130,12,1) 96%);
	border: none;
	cursor: pointer;
	color: #f4f4f4;
	transition: all 0.4s;
}

.empresas div button:hover {
	filter: brightness(150%);
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.493);
}

/*close button */
.empresas div .close-container{
  position: relative;
  margin-left: auto;
  margin-top: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
}

.empresas div .leftright{
  height: 4px;
  width: 30px;
  position: absolute;
  background-color: rgba(226,130,12,1);
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
  padding: 0;
}

.empresas div .rightleft{
  height: 4px;
  width: 30px;
  position: absolute;
  background-color: rgba(226,130,12,1);
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
  padding: 0;
}

.empresas div .close{
  margin: 60px 0 0 5px;
  position: absolute;
}

.empresas div .close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: rgba(158,11,26,1);
}
.empresas div .close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: rgba(158,11,26,1);
}

/* btn adicionar */
.adicionar {
    background: linear-gradient(43deg, 
		rgba(182,95,173,1) 0%, 
		rgba(182,95,135,1) 14%, 
		rgba(191,66,89,1) 36%, 
		rgba(158,11,26,1) 71%, 
		rgba(226,130,12,1) 96%);
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0px 5px 20px 5px rgba(146, 146, 146, 0.35);
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 100px;
    transition: all 0.2s;
    cursor: pointer;
}

.adicionar img {
    width: 45px;
    height: 45px;
}

.adicionar:hover {
	filter: brightness(150%);
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.493);
}
