section {
    background: #e1e5f22c;
    border-radius: 8px;
    border: 0;
    padding: 12px 24px;
	color: #f4f4f4;
    margin-top: 20px;
}

section:last-child {
    background: none;
    text-align: left;
}

label h3 {
    width: 100%;
    cursor: pointer;
}

label input[type="checkbox"] {
    display: none;
}

.collapse {
    height: 0px;
    overflow: hidden;
}

input:checked + .collapse {
    height: auto;
}

section:last-child div {
    margin-top: 30px;
}

form {
    align-items: center;
    color: #f4f4f4;
    padding: 0;
    background: transparent;
    width: 100%;
    box-shadow: none;
    margin-top: -50px;
}

form button {
    width: 100%;
}
