form .btn {
    /* text-align: right; */
    display:flex;
    justify-content: space-between;
}

form .btn button {
  float:left;
}

.items {
  width: 100%;
  display: flex;
}

.item {
  width: 25%!important;
  margin: 5px;
}