/* msg */
.msg {
	margin-left: 12.5%!important;
	margin-bottom: 60px;
}

.msg h1 {
	font-size: 65px;
}

.msg p {
	font-size: 24px;
}

/* form */
form {
    color: #f4f4f4;
    padding: 0;
    background: transparent;
    width: 100%;
    box-shadow: none;
}

form fieldset {
	border: none;
	padding: 0;
	margin: 10px 0;
	position: relative; 
    text-align: left;
}

form fieldset input {
	width: 100%;
	height: 65px;
}
 
form button {
	width: 100%;
}
  
/* line */
.line {
	border-left: 1px solid rgba(226, 130, 12, 1);
	height: 200px;
	margin-left: 200px;
    margin-top: 40px;
}

/*redes*/

.redes a {
	text-decoration:none; 
}

.gradient-border {
	margin: 20px 0;
	--border-width: 3px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 65px;
	color: white;
	background: rgb(80, 80, 80);
	border-radius: var(--border-width);
	cursor: pointer;
	transition: 0.4s;
}


.gradient-border::after {
	  position: absolute;
	  content: "";
	  top: calc(-1 * var(--border-width));
	  left: calc(-1 * var(--border-width));
	  z-index: -1;
	  width: calc(100% + var(--border-width) * 2);
	  height: calc(100% + var(--border-width) * 2);
	  background: linear-gradient(
		60deg,
		hsl(224, 85%, 66%),
		hsl(269, 85%, 66%),
		hsl(314, 85%, 66%),
		hsl(359, 85%, 66%),
		hsl(44, 85%, 66%),
		hsl(89, 85%, 66%),
		hsl(134, 85%, 66%),
		hsl(179, 85%, 66%)
	  );
	  background-size: 300% 300%;
	  background-position: 0 50%;
	  border-radius: calc(2 * var(--border-width));
	  animation: moveGradient 4s alternate infinite;
	}
  
	.gradient-border:hover {
		background-color: #222;
	}
	
  @keyframes moveGradient {
	50% {
	  background-position: 100% 50%;
	}
  }
