/* msg */

.msg {
	margin-left: 12.5%!important;
	margin-bottom: 60px;
}

.msg h1 {
	font-size: 65px;
}

.msg p {
	font-size: 24px;
}

/* form */
form fieldset {
	border: none;
	padding: 0;
	margin: 20px 0;
	position: relative; 
}

form fieldset input {
	width: 100%;
	height: 65px;
	background: #e1e5f22c;
    border-radius: 8px;
    border: 0;
    padding: 12px 24px;
	color: #f4f4f4;
}
  
form button {
	width: 100%;
	height: 65px;
	border-radius: 8px;
	outline: none!important;
	background: linear-gradient(43deg, 
		rgba(182,95,173,1) 0%, 
		rgba(182,95,135,1) 14%, 
		rgba(191,66,89,1) 36%, 
		rgba(158,11,26,1) 71%, 
		rgba(226,130,12,1) 96%);
	border: none;
	cursor: pointer;
	color: #f4f4f4;
	transition: all 0.4s;
}

form button:hover {
	filter: brightness(150%);
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.493);
}
  
/* line */
.line {
	border-left: 1px solid rgba(226, 130, 12, 1);
	height: 200px;
	margin-left: 200px;
    margin-top: 40px;
}

/*redes*/

.redes a {
	text-decoration:none; 
}

.gradient-border {
	margin: 20px 0;
	--border-width: 3px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 65px;
	color: white;
	background: rgb(80, 80, 80);
	border-radius: var(--border-width);
	cursor: pointer;
	transition: 0.4s;
}


.gradient-border::after {
	  position: absolute;
	  content: "";
	  top: calc(-1 * var(--border-width));
	  left: calc(-1 * var(--border-width));
	  z-index: -1;
	  width: calc(100% + var(--border-width) * 2);
	  height: calc(100% + var(--border-width) * 2);
	  background: linear-gradient(
		60deg,
		hsl(224, 85%, 66%),
		hsl(269, 85%, 66%),
		hsl(314, 85%, 66%),
		hsl(359, 85%, 66%),
		hsl(44, 85%, 66%),
		hsl(89, 85%, 66%),
		hsl(134, 85%, 66%),
		hsl(179, 85%, 66%)
	  );
	  background-size: 300% 300%;
	  background-position: 0 50%;
	  border-radius: calc(2 * var(--border-width));
	  animation: moveGradient 4s alternate infinite;
	}
  
	.gradient-border:hover {
		background-color: #222;
	}
	
  @keyframes moveGradient {
	50% {
	  background-position: 100% 50%;
	}
  }
